In [1]:
import pandas as pd
import numpy as np

In [2]:
tweet = pd.read_csv('./elonmusk_tweets.csv')

In [3]:
tweet.head(20)

,id,created_at,text
0,849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...
1,848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
2,848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
3,848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...'
4,848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."
5,848415731502923777,2017-04-02 06:04:07,"b""@Lexxxzis It's just a helicopter in helicopt..."
6,848415356263702528,2017-04-02 06:02:38,"b""@verge It won't matter"""
7,848398971139629057,2017-04-02 04:57:31,b'@SuperCoolCube Pretty good'
8,848244577521647616,2017-04-01 18:44:01,"b""Why did we waste so much time developing sil..."
9,848243350993895424,2017-04-01 18:39:09,b'Technology breakthrough: turns out chemtrail...
10,848239928043491328,2017-04-01 18:25:33,"b""RT @OpenAI: We've created the world's first ..."
11,848239664536223745,2017-04-01 18:24:30,b'RT @ProfBrianCox: This is extremely importan...
12,848036043240636417,2017-04-01 04:55:23,"b'@adamsbj Def P100D with Ludicrous+, although..."
13,847958571895619584,2017-03-31 23:47:32,b'@BadAstronomer We can def bring it back like...
14,847890916048338946,2017-03-31 19:18:42,b'@tesla_addict @TeslaMotors Working on it'
15,847884776719740928,2017-03-31 18:54:18,"b""@jasonlamb Looks like it could do 20% more w..."
16,847884413706874880,2017-03-31 18:52:51,b'@cheron A lot'
17,847884351375372288,2017-03-31 18:52:36,b'@Cardoso Silliest thing we can imagine! Secr...
18,847883435100299267,2017-03-31 18:48:58,"b'@redletterdave Good point, odds go from 0% t..."
19,847882909906341888,2017-03-31 18:46:53,b'Falcon Heavy test flight currently scheduled...

In [4]:
tweet = tweet[['created_at', 'text']]

In [5]:
tweet['created_at']= pd.to_datetime(tweet.created_at)

In [6]:
tweet.head()

           created_at                                               text
0 2017-04-05 14:56:29  b'And so the robots spared humanity ... https:...
1 2017-04-03 20:01:01  b"@ForIn2020 @waltmossberg @mims @defcon_5 Exa...
2 2017-04-03 16:59:35      b'@waltmossberg @mims @defcon_5 Et tu, Walt?'
3 2017-04-03 16:30:19                b'Stormy weather in Shortville ...'
4 2017-04-02 06:05:23  b"@DaveLeeBBC @verge Coal is dying due to nat ...

In [7]:
tweet.dtypes

created_at    datetime64[ns]
text                  object
dtype: object

In [8]:
tweet.tail()

              created_at                                               text
2814 2011-12-03 08:22:07               b'That was a total non sequitur btw'
2815 2011-12-03 08:20:28  b'Great Voltaire quote, arguably better than T...
2816 2011-12-01 10:29:04  b'I made the volume on the Model S http://t.co...
2817 2011-12-01 09:55:11  b"Went to Iceland on Sat to ride bumper cars o...
2818 2010-06-04 18:31:57  b'Please ignore prior tweets, as that was some...

# Webscraping part

In [9]:
import bs4
from bs4 import BeautifulSoup
import urllib
from urllib import urlopen
import requests
import time
import pandas as pd

## bigcharts marketplace

In [10]:
URL = "http://bigcharts.marketwatch.com/news/symbolsearch/symbolnews.asp?symb=TSLA"

In [11]:
html = urllib.urlopen(URL).read()

soup = BeautifulSoup(html, 'html.parser', from_encoding="utf-8")

In [12]:
news = pd.DataFrame(columns=["title","date", "time","news_site"])

In [13]:
# def scrap():
#     for row in soup.find_all('ol', {'class':'headlines'}):
        
#         classes= row.find_all('li', {'class':'shaded'}) 
#         for entry in classes:
#             title =entry.find('',attrs= {"class":"fleft headline"}).get_text()
#             date = entry.find('li',attrs= {"class":"date"}).get_text()
#             time = entry.find('p', attrs= {"class": "fright understated"}).get_text()
#             news_site = entry.find('span', attrs= {"class": "provider"}).get_text()
#             #try:
#                 #company = entry.find('span', attrs = {"class":"company"}).get_text()
#             #except:
#                 #company = 'NA'
#             #try:
#                 #salary = entry.find('nobr').get_text()
#             #except:
#                 #salary = 'NA'
#             news.loc[len(news)]=[title.strip(), date.strip(), time.strip(), news_site.strip()]

In [14]:
def scrap():
    for row in soup.find_all('ol', {'class':'headlines'}):
        classes= row.find_all('li', {'class':'date'})
        for entry in classes:
            date = entry.find('p')
            second= row.find_all('li', {'class':'shaded'}) 
            for fi in second:
                title =entry.find('p',attrs= {"class":"fleft headline"}).get_text()
                time = entry.find('p', attrs= {"class": "fright understated"}).get_text()
                news_site = entry.find('span', attrs= {"class": "provider"}).get_text()
                news.loc[len(news)]=[title.strip(), date.strip(), time.strip(), news_site.strip()]

In [15]:
# for row in soup.find_all('ol', {'class':'headlines'}):
#         classes= row.find_all('li', {'class':'date'}) 
#         for entry in classes:
#             date = entry.find('p')

## Tesla Blog

In [17]:
URL = "https://www.tesla.com/blog"

In [18]:
html = urllib.urlopen(URL).read()

soup = BeautifulSoup(html, 'html.parser', from_encoding="utf-8")

In [107]:
dataframe = pd.DataFrame(columns=["title","date", "author","first_paragraph"])

In [43]:
### trying to get this to work, currently not. need to troubleshoot
def scrap():
    for row in soup.find_all('div', {'class':'view-content'}):
        classes= row.find_all('div', {'class':'blog-wrapper no-image'})
        for entry in classes:
            title = entry.find('h2').get_text()
            date = entry.find('span', attrs= {"property":"dc:date dc:created"}).get_text()
            author = entry.find('div', attrs= {"class": "post-info"}).get_text()
            first_paragraph = entry.find('div', attrs= {"class": "field-item even"}).get_text()
            return author
            #dataframe.loc[len(dateframe)]=[title.strip(), date.strip(), author.strip(), first_paragraph.strip()]

In [44]:
scrap()

u'\n        The Tesla Team                    July 17, 2017\n'

In [30]:
date
#not the date for the tesla blog. I am assuming I am just tagging the wrong things

NameError: name 'date' is not defined