In [1]:
import pandas as pd
import numpy as np

In [3]:
tweet = pd.read_csv('../elonmusk_tweets.csv')

In [4]:
tweet.head()

,id,created_at,text
0,849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...
1,848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
2,848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
3,848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...'
4,848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."

In [5]:
tweet = tweet[['created_at', 'text']]

In [6]:
tweet['created_at']= pd.to_datetime(tweet.created_at)

In [7]:
tweet.head()

           created_at                                               text
0 2017-04-05 14:56:29  b'And so the robots spared humanity ... https:...
1 2017-04-03 20:01:01  b"@ForIn2020 @waltmossberg @mims @defcon_5 Exa...
2 2017-04-03 16:59:35      b'@waltmossberg @mims @defcon_5 Et tu, Walt?'
3 2017-04-03 16:30:19                b'Stormy weather in Shortville ...'
4 2017-04-02 06:05:23  b"@DaveLeeBBC @verge Coal is dying due to nat ...

In [8]:
tweet.dtypes

created_at    datetime64[ns]
text                  object
dtype: object

In [9]:
tweet.tail()

              created_at                                               text
2814 2011-12-03 08:22:07               b'That was a total non sequitur btw'
2815 2011-12-03 08:20:28  b'Great Voltaire quote, arguably better than T...
2816 2011-12-01 10:29:04  b'I made the volume on the Model S http://t.co...
2817 2011-12-01 09:55:11  b"Went to Iceland on Sat to ride bumper cars o...
2818 2010-06-04 18:31:57  b'Please ignore prior tweets, as that was some...

# Webscraping part

In [10]:
import bs4
from bs4 import BeautifulSoup
import urllib
from urllib import urlopen
import requests
import time
import pandas as pd

## Tesla Blog

In [11]:
URL = "https://www.tesla.com/blog"

In [12]:
html = urllib.urlopen(URL).read()

soup = BeautifulSoup(html, 'html.parser', from_encoding="utf-8")

In [13]:
dataframe = pd.DataFrame(columns=["title","date","first_paragraph"])

In [14]:
### trying to get this to work, currently not. need to troubleshoot
def scrap():
    for row in soup.find_all('div', {'class':'view-content'}):
        classes= row.find_all('div', {'class':'blog-wrapper no-image'})
        for entry in classes:
            title = entry.find('h2').get_text()
            date = entry.find('span', attrs= {"property":"dc:date dc:created"}).get_text()
            first_paragraph = entry.find('div', attrs= {"class": "field-item even"}).get_text()
            dataframe.loc[len(dataframe)]=[title.strip(), date.strip(), first_paragraph.strip()]

In [15]:
scrap()

In [16]:
dataframe

,title,date,first_paragraph
0,Tesla Welcomes Linda Johnson Rice and James Mu...,"July 17, 2017","We would like to welcome Linda Johnson Rice, C..."
1,Tesla Powerpack to Enable Large Scale Sustaina...,"July 6, 2017","Last September, a 50-year storm damaged critic..."
2,Tesla Model X the First SUV Ever to Achieve 5-...,"June 13, 2017",We engineered Model X to be the safest SUV eve...
3,Tesla Welcomes Gaby Toledano,"May 23, 2017","We would like to welcome Gaby Toledano, who ha..."
4,Creating the Safest Car Factory in the World,"May 14, 2017","Earlier this year, the United Automobile Worke..."
5,The Next Step in Energy Storage: Aggregation,"May 12, 2017","Today, modern utilities and grid operators are..."
6,Solar Roof,"May 10, 2017",Tesla’s mission is to accelerate the world’s t...
7,Charging Is Our Priority,"April 24, 2017",As Tesla prepares for our first mass-market ve...
8,Model S or Model 3,"April 6, 2017",We’ve been getting ready for Model 3 by advanc...
9,CFO Jason Wheeler to Depart in April to Pursue...,"February 22, 2017",Tesla today announced that CFO Jason Wheeler h...

In [17]:
#creating a template for multiple pages of blog
url_template = "http://www.tesla.com/blog?page={}"
results = []
for start in range(1,50):
    url_template = "http://www.tesla.com/blog?page={}".format(start)
    results.append(url_template)

In [ ]:
#placing those results into a dataframe by running the scraper again
for i in results:
    r = requests.get(i)
    soup = BeautifulSoup(r.text,"html.parser")
    scrap()

In [ ]:
dataframe